<%- include('partials/header'); -%>

<header>
    <h1>Learn to code for free</h1>
    <h2>Get your feet wet, learn coding!</h2>
    <div class="get_started"><a href="/courses" class="btn">Get Started</a></div>
</header>

<div class="info_container">

</div>


<%- include('partials/footer'); -%>