<%- include('partials/header'); -%>

<div class="back_to_courses container-flex">
    <img src="go_back.png" alt="">
    <a href="/courses" class="btn">Courses</a>
</div>

<div class="iframe_container">
    <!-- intro to OOP -->
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/SiBw7os-_zI"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
<div class="iframe_container">
    <!-- JAVA FOR BEG -->
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/eIrMbAQSU34"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<div class="iframe_container">
    <!-- JAVA PLAYLIST -->
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/videoseries?list=PL_c9BZzLwBRKIMP_xNTJxi9lIgQhE51rF"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<%- include('partials/footer'); -%>
