<%- include('partials/header'); -%>

<div class="back_to_courses container-flex">
    <img src="go_back.png" alt="">
    <a href="/courses" class="btn">Courses</a>
</div>

<div class="iframe_container">
  <!-- Beginner py -->
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/_uQrJ0TkZlc"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<div class="iframe_container">
  <!-- Intermediate py -->
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/HGOBQPFzWKo"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<%- include('partials/footer'); -%>
